CF_ACCESS_TEAM_DOMAIN=your-team.cloudflareaccess.com
CF_ACCESS_AUD=your-cloudflare-access-aud
ADMIN_EMAILS=admin@example.com
MOCK_USER_EMAIL=member@example.com
RESOURCE_OBJECT_PREFIX=production
D1_DATABASE_NAME=your-production-d1-database-name
D1_PREVIEW_DATABASE_NAME=your-preview-d1-database-name
NUXT_PUBLIC_LOGIN_DOMAIN_LABEL=example.com
